<h1>Share your favourite Pizza!</h1>

<div class="d-flex justify-content-around mt-5">
  <label class="btn btn-dark cursor-pointer	text-center w-25" (change)="onFileSelected($event)">
    <i class="fas fa-images"></i> Add Image<input type="file" class="form-control d-none"></label>
  <input type="text" id="name" placeholder="Title">
  <input type="number" id="price" placeholder="Price $">
  <button class="btn btn-danger cursor-pointer text-center w-25" (click)="add()">
    <i class="far fa-pizza-slice"></i> Add Product
  </button>
</div>
<h5 style="margin-left: 17rem" id="fileName"></h5>
<small *ngIf="error">{{error}}</small>

<div class="row mx-auto">
  <div class="mt-5 col-l-3 col-md-6" *ngFor="let product of products">
    <div class="card" style="width: 27rem;">
      <img [src]="product?.image" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product?.productName}}</h5>
        <h6 class="card-text">Price : {{product?.price}} $</h6>
        <a href="#" class="btn btn-primary" (click)="delete(product.id)">Delete</a>
      </div>
    </div>
  </div>
</div>
